       <!-- Navigation-->
       <nav class="navbar navbar-expand-lg " style="background-color: white; ">
        <div class="container px-5">
            <a class="navbar-brand">
                <img class="design" src="https://i.postimg.cc/MK9WSx0p/9-AAD741-B-6441-4-A69-9-FDF-D9578-F58-E41-E.jpg" alt=""></a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link linkClass"  href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link linkClass" routerLink="aboutus">About us</a></li>
                    <li class="nav-item"><a class="nav-link linkClass "routerLink="services">Service</a></li>
                    <li class="nav-item"><a class="nav-link linkClass" routerLink="pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link linkClass" routerLink="contact">Contact Us</a></li>
                    <li class="nav-item"><button type="button" class="btn btn-outline-info nav-link linkClass" routerLink="login">Login/SignUp</button></li>
  
                </ul>
            </div>
        </div>
    </nav>
