<div class="card w-50 container mb-3 ms-5 ">
    <div class="card-body">
      <h5 class="card-title fw-bolder">DRY CLEANING</h5>
      <p class="card-text">Formal Wear,Ornamental</p>
      <p class="card-text">Blanket,Quilts,Curtains</p>
      <p><i class="fa-solid fa-clock-rotate-left"></i> 3-5 days</p>
      <p><i class="fa-solid fa-indian-rupee-sign"></i> 25/KG onwards</p>

    </div>
  </div>
  <br>
  <div class="card w-50 container mb-3 ms-5">
    <div class="card-body">
      <h5 class="card-title fw-bolder">LAUNDRY-WASH & FOLD</h5>
      <p class="card-text">Laundry by kilo</p>
      <p class="card-text">Stack Packing</p>
      <p class="card-text">Intimate wear,Socks</p>

      <p><i class="fa-solid fa-clock-rotate-left"></i> 3-5 days</p>
      <p><i class="fa-solid fa-indian-rupee-sign"></i> 79/KG onwards</p>

    </div>
  </div>
  <br>
  <div class="card w-50 container mb-3 ms-5">
    <div class="card-body">
      <h5 class="card-title fw-bolder">LAUNDRY-WASH & IRON</h5>
      <p class="card-text">Laundry by kilo</p>
      <p class="card-text">Stack Packing</p>
      <p class="card-text">Vacuum Steam Iron</p>

      <p><i class="fa-solid fa-clock-rotate-left"></i> 3-5 days</p>
      <p><i class="fa-solid fa-indian-rupee-sign"></i> 109/KG onwards</p>

    </div>
  </div>