
<header class="bg-dark py-5" style="background-image: url(https://i.postimg.cc/brr0xtZ1/bigstock-A-Closeup-Of-A-Laundry-Worker-298445551-845x321.jpg);">
    <div class="container px-5" >
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start" >
                    <h1 class="display-5 fw-bolder text-black mb-2"></h1>
                    <p class="lead fw-normal fs-3 fw-bolder mb-4" style="color: black">Best laundry and Dry cleaning Service  </p>
                    <button type="button" class="btn btn-info" >inClick</button>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a> -->
                        <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://i.postimg.cc/507pQmwg/60427c5b44d8e300117b9567.webp" alt="..." /></div> -->
        </div>
    </div>
</header>

<div>
      <!-- Call to Action-->
      <div class="card text-green bg-white my-5 py-4 text-center" style="border: none;">
        <div class="card-body">
            <h3 style="color: rgb(10, 198, 245);">OUR SERVICES</h3>
    </div>
    </div>

</div>







<div class="card mb-3 w-75 align-items-center container" >
    <div class="row g-0">
        <h5 class="card-title fs-3  text-center mt-4" style="color: rgb(10, 198, 245);">DRY CLEANING</h5>

      <div class="col">
        <img class="w-100 container mt-5 mt-5 " src="https://i.postimg.cc/66kWbB9h/Picture1-71a9742b-e30f-4c99-8df2-c4fc3d78c4a5-grande.webp" alt="">
    </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">Dry cleaning process at weClean begins by sorting the clothes. After sorting, similar clothes are washed together. The best detergent brands are used for washing clothes. The washing machine is then loaded by adjusting the right setting for your clothes. The freshwater rinse during the process helps in eliminating the dirt and stains from the clothes. We air-dry your clothes in anti-bacterial stainless-steel air-dryers that eliminate Direct UV rays from the sun which react with the colour pigments of your clothes and create bleaching effect. After the laundry cycle ends,High pressure vacuum steam iron is done for that perfect finishing . As per CDC and WHO, steam sterilization is best and safest way to sanitize your clothes</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3 w-75 mt-5 align-items-center container" >
    <div class="row g-0">
        <h5 class="card-title fs-3  text-center mt-4" style="color: rgb(10, 198, 245);">LAUNDRY</h5>

      <div class="col">
        <img class="w-100 container mt-5 mt-5 " src="https://i.postimg.cc/vBgJqCqC/download1.jpg" alt="">
    </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">The laundry process at we begins by sorting the clothes. After sorting, similar clothes are washed together. The best detergent brands are used for washing clothes. The washing machine is then loaded by adjusting the right setting for your clothes. The freshwater rinse during the process helps in eliminating the dirt and stains from the clothes. We air-dry your clothes in anti-bacterial stainless-steel air-dryers that eliminate Direct UV rays from the sun which react with the colour pigments of your clothes and create bleaching effect. After the laundry cycle ends,High pressure vacuum steam iron is done for that perfect finishing . As per CDC and WHO, steam sterilization is best and safest way to sanitize your clothes</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  

  <div class="card mb-3 w-75 mt-5 align-items-center container" >
    <div class="row g-0">
        <h5 class="card-title fs-3  text-center mt-4" style="color: rgb(10, 198, 245);">IRONING</h5>

      <div class="col">
        <img class="w-100 container mt-5 mt-5 " src="https://i.postimg.cc/FHVhK6M5/main-qimg-ce52384ae991129a9eab83bee09abeb5-pjlq.jpg" alt="">
    </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">The Ironing process at we begins by ironing the clothes. After sorting, similar clothes are washed together. The best detergent brands are used for washing clothes. The washing machine is then loaded by adjusting the right setting for your clothes. The freshwater rinse during the process helps in eliminating the dirt and stains from the clothes. We air-dry your clothes in anti-bacterial stainless-steel air-dryers that eliminate Direct UV rays from the sun which react with the colour pigments of your clothes and create bleaching effect. After the laundry cycle ends,High pressure vacuum steam iron is done for that perfect finishing . As per CDC and WHO, steam sterilization is best and safest way to sanitize your clothes</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>