
            <header class="bg-dark py-5" style="background-image: url(https://i.postimg.cc/brr0xtZ1/bigstock-A-Closeup-Of-A-Laundry-Worker-298445551-845x321.jpg);">
                <div class="container px-5" >
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start" >
                                <h1 class="display-5 fw-bolder text-black mb-2">We Clean..</h1>
                                <p class="lead fw-normal  mb-4" style="color: rgb(10, 198, 245);">Best laundry and Dry cleaning Service  </p>
                                <button type="button" class="btn btn-info" routerLink="/login">inClick</button>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a> -->
                                    <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://i.postimg.cc/507pQmwg/60427c5b44d8e300117b9567.webp" alt="..." /></div> -->
                    </div>
                </div>
            </header>

                  <!-- Call to Action-->
            <div class="card text-green bg-white my-5 py-4 text-center" style="border: none;">
                <div class="card-body">
                    <h3 style="color: rgb(10, 198, 245);">INDIA’S NO. 1 LAUNDRY & DRY-CLEANING
                        BRAND</h3>
            </div>
            </div>

            <!-- body -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Dry Cleaning</h2>
                            <img class="w-73 container " src="https://i.postimg.cc/66kWbB9h/Picture1-71a9742b-e30f-4c99-8df2-c4fc3d78c4a5-grande.webp" alt="">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p> -->
                        </div>
                        <div class="card-footer"><a class="btn btn-info btn-sm" href="/services">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Laundry</h2>
                            <img class="w-100" src="https://i.postimg.cc/vBgJqCqC/download1.jpg" alt="">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p> -->
                        </div>
                        <div class="card-footer"><a class="btn btn-info btn-sm" href="/services">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Ironing</h2>
                            <img class="w-100" src="https://i.postimg.cc/FHVhK6M5/main-qimg-ce52384ae991129a9eab83bee09abeb5-pjlq.jpg" alt="">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p> -->
                        </div>
                        <div class="card-footer"><a class="btn btn-info btn-sm" href="/services">More Info</a></div>
                    </div>
                </div>
            </div>

            
    <div class="row gx-lg-5">
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                    <h2 class="fs-4 fw-bold" style="color: rgb(10, 198, 245);" >QUALITY</h2>
                    <p class="mb-0">Expert professionals handling
                        your clothes with utmost care.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                    <h2 class="fs-4 fw-bold" style="color: rgb(10, 198, 245);">SPEED</h2>
                    <p class="mb-0">Shorter turnaround times, delivery
                        within24 hours of pick up.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                    <h2 class="fs-4 fw-bold"style="color: rgb(10, 198, 245);">WE ASPIRE</h2>
                    <p class="mb-0">To become India’s largest and most preferred brand of cleaning services</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                    <h2 class="fs-4 fw-bold" style="color: rgb(10, 198, 245);">WE AIM</h2>
                    <p class="mb-0">To provide all cleaning solutions on a click</p>
                </div>
            </div>
        </div>
        
        
        